* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

:root {
	--grey: rgb(78, 78, 78);
	--light-grey: rgb(136, 136, 136);
}

::selection {
	background: white;
	color: brown;
}

body {
	background: var(--grey);
	width: 100vw;
	height: 100vh;
	color: darkorange;
	overflow: hidden;
}

#addCustomB {
	background: var(--grey);
	border: 3px solid var(--gray);
	color: darkgray;
	border-radius: 10px;
	outline: none;
	margin: 5px;
	padding: 0 14px 0 14px;
	font-size: 2.5em;
}

#addCustomB:hover {
	background-color: rgb(176, 178, 180);
	color: black;
	transition: .3s;
}

#save {
	background: grey;
	border: 3px solid gray;
	color: orange;
	border-radius: 10px;
	outline: none;
	margin: 5px;
	padding: 0 14px 0 14px;
	font-size: 2.5em;
	width: fit-content;
}

#save:hover {
	background-color: rgb(176, 178, 180);
	color: darkgoldenrod;
	transition: .3s;
}

#canv {
	position: absolute;
	display: block;
	background: white;
	border-right: solid 2px black;
}

#panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
}

#panelIn {
	display: flex;
	flex-direction: column;
}

#panelIn > div {
	margin-top: 10px;
	border: 1.5px solid grey;
	border-radius: 10px;
	padding: 5px;
	margin-right: 5px;
}

label {
	font-size: 1.2em;
}

#panelIn > #mapSettings {
	margin-top: 0;
}

h1 {
	padding-bottom: 5px;
}

#panel > div {
	padding: 10px 0 0 10px;
	width: fit-content;
}

img {
	pointer-events: none;
	user-select: none;
}

input {
	border: 2px solid grey;
	border-radius: 10px;
	padding: 3px;
	width: 100px;
	outline: none;
}

input::selection {
	color: red;
	background: lightgrey;
}

input[type="number"] {
	width: 3em;
}

#mapSettings > div {
	padding-top: 10px;
}

#objs-table {
	margin-top: 5px;
	background: var(--light-grey);
	border: 3px solid var(--light-grey);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
	flex-wrap: wrap;
}

.obj-entry {
	user-select: none;
	background: var(--grey);
	border: 8px solid var(--grey);
	border-radius: 10px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}

#selected {
	background: greenyellow;
	border: 8px solid greenyellow;
}

.obj-entry img {
	width: fit-content;
	height: fit-content;
}

span {
	padding-top: 5px;
}

input[type="checkbox"] {
	width: auto;
}

#controls {
	display: flex;
	flex-direction: column;
}

.iBlock {
	display: inline-block;
	margin-top: 2px;
}

.controlDivEntry {
	margin-top: 5px;
	padding: 10px;
	border: 1.5px solid grey;
	border-radius: 10px;
	width: fit-content;
}