* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

:root {
	--grey: rgb(78, 78, 78);
	--backg: linear-gradient(rgb(221, 138, 83), rgb(62, 62, 184)) fixed;
	--text-color: rgb(181, 185, 189);
}

::selection {
	background: white;
	color: brown;
}

img {
	pointer-events: none;
	user-select: none;
}

body {
	background: var(--backg);
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

h2 {
	color: rgb(0, 70, 190);
	margin-top: 1cm;
	font-size: 3.5em;
}

#mainDiv {
	background-color: var(--grey);
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 auto;
	margin-top: 1cm;
	background-color: var(--grey);
	border: 3px solid var(--grey);
	border-radius: 15px;
	max-width: 50%;
	color: var(--text-color);
}

#input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 10px;
}

#content {
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 10px;
}

#content * {
	display: inline;
}

#content p {
	margin-top: 4px;
}

.in {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	align-self: flex-start;
	font-size: 1.5em;
}

.radio {
	padding-left: 15px;
	padding-right: 15px;
	outline: none;
}

button {
	background: bisque;
	border: 3px solid salmon;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	outline: none;
	font-size: 1em;
}

button:hover {
	background-color: rgb(189, 199, 207);
	color: brown;
	transition: .5s;
}

#startButton {
	margin-top: 15px;
	font-size: 1.5em;
}

#scTitle {
	padding-top: 20px;
	font-size: 1.8em;
}

#scriptSettings {
	padding: 10px 0 0 10px;
	color: var(--text-color);
	text-align: start;
	display: flex;
	flex-direction: row;
}

#scriptSettings label {
	font-size: 1em;
}

#scWrapper {
	display: flex;
	flex-direction: column;
}
