* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

::selection {
	background: white;
	color: brown;
}

body {
	background: linear-gradient(rgb(221, 138, 83), rgb(62, 62, 184)) fixed;
	width: 100%;
	height: 100%;
	text-align: center;
}

#karikep {
	align-self: center;
	padding-left: .75cm;
	padding-right: .75cm;
	animation-name: karimation;
	animation-duration: 2s;
}

@keyframes karimation {
	from {
		transform: rotate(90deg);
	}
}

#title {
	color: rgb(0, 70, 190);
	margin-top: 1cm;
	font-size: 8em;
	animation-name: titleFloat;
	animation-duration: 2s;	
}

@keyframes titleFloat {
	from {
		color: rgb(99, 99, 99);
		margin-top: -4cm;
	}
}

#mainContent {
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 auto;
	background-color: rgb(78, 78, 78);
	border: 3px solid rgb(78, 78, 78);
	border-radius: 15px;
	animation-name: contentFade;
	animation-duration: 2s;
	width: fit-content;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 10px rgba(255, 255, 255, 0.85);
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#mainContentButt {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@keyframes contentFade {
	from {
		opacity: 0;
	}
}

button {
	background: bisque;
	border: 3px solid salmon;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	outline: none;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	font-size: 2em;
}

button:hover {
	background-color: rgb(189, 199, 207);
	color: brown;
	transition: .5s;
}

footer {
	background: rgb(80, 80, 80);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	font-weight: 500;
	text-align: center;
}
